<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2020 DBeaver Corp and others
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>



    <extension point="org.jkiss.dbeaver.dataManager">
<!--
        <manager class="com.dbeaver.eeinfluxdb.data.managers.InfluxDBDocumentValueManager" id="com.dbeaver.eeinfluxdb.data.managers.InfluxDBDocumentValueManager">
            <supports type="java.lang.Object"/>
        </manager>
-->
    </extension>

    <extension point="org.eclipse.ui.menus">
        <menuContribution allPopups="false" locationURI="menu:dataSourceMenu?after=transactions">

            <menu label="%command.com.dbeaver.ee.influxdb.consistencyLevelSelect.name">
                <dynamic id="com.dbeaver.ee.influxdb.consistencyLevelMenu" class="org.jkiss.dbeaver.ext.iotdb.views.IoTDBConsistencyLevelContributor"/>
                <visibleWhen>
                    <with variable="activeEditor">
                        <adapt type="org.jkiss.dbeaver.model.DBPDataSourceContainer">
                            <test property="org.jkiss.dbeaver.core.datasourceContainer.driverId" value="iotdb"/>
                        </adapt>
                    </with>
                </visibleWhen>
            </menu>

        </menuContribution>
    </extension>
   

</plugin>
